.field {
  position: relative;
  margin-top: 20px;
  width: 250px; /* optional */
}

.field label {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(-30%);  /* đặt label ngay trên border */
  padding: 0 6px;
  font-size: 14px;
  background: none;            /* che border */
  color: #d3d3d3;
  pointer-events: none;
}

.field input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
  background: none;
}
.input-box{
    position: relative;
    width: 280px;
}

.input-box input {
    width: 100%;
    height: 30px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #999;
    border-radius: 10px;
    outline: none;
    background: transparent;
    transition: all 0.3s ease;
}
.input-box label {
    position: absolute;
    top: -5px;
    left: 15px;
    color: #f9f9f9;
    font-size: 16px;
    pointer-events: none;
    background: #2f3234;
    transition: all 0.3s ease;
}
.account_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: auto;
    border-radius: 15px;
    background-color: #2f3234;
    padding: 10px;
    animation: 1s fade ease-out forwards;
}
@keyframes fade {
    from {opacity: 0;}
    to {
        opacity: 1;
    }
}
.account_form button{
    background: none;
    pointer-events: cursor;
    width: fit-content;
    height: fit-content;
    padding: 0;
    align-items: left;
}
.account_form button:hover{
    transform: none;
}