#root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888888;
}

main {
  flex: 1; /* phần nội dung chiếm toàn bộ chiều cao còn lại */
}
body{
  margin: 0;
  padding: 0;
  background-color: white;
  color: #0c0937;
  background-attachment: fixed;
  transition: background-color 1.2s ease;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(42, 42, 42);
    background-attachment: fixed;
    color: white;
    transition: background-image 1.2s ease;
  }
}
