.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.layout-content {
  flex: 1;
 /* bằng chiều rộng sidebar */
  transition: margin-left 0.3s ease;
  padding-bottom: 10px;
}

/* Khi sidebar mở rộng */
.sidebar.expanded ~ .layout-content {
  margin-left: 220px;
}

/* Đặt sidebar nằm trên mọi phần tử */
.sidebar {
  z-index: 1000;
}
