.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background: #0b4d8c;
  color: #fff;
}

.logo {
  font-weight: 700;
  font-size: 18px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 18px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 135deg, #5f688d, #6a90ae, #3e3ebd);
  background-size: 400% 400%;
  animation: gradientFlow 15s ease infinite;
  transition: background-image 1.2s ease;
  min-height: 50px;
}

.nav-list a {
    display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  padding: 5px;
  font-size: large;
}

.nav-list a:hover {
  transform: scale(1.1);
  color: white;
}
